html
    head
        title Failed loading page
        style.
            .lol{
                font-size:2.5em;
                margin:auto;
                width:40%;
            }
            ul{
                font-size:1.5em;
                margin:auto;
                width:40%;
            }
            li{
                margin-left:30px;
            }
    body
            .lol There was a problem loading your page
            .lol try to:
            ul 
                li check if the adress is correct
                li check your internet connection
                li try again later 
                