html
    head
        title Inception
        link(rel="stylesheet", href="../sass/index.sass")
        a(href="failed_loading_page.pug", style="display:none")
        script(src="../js/index.js")
    body
        #toolbar 
            #navigation
                #logo
                input#search(type="text")
                #reload
                .win-btn#exit
                .win-btn#maximize
                .win-btn#minimize    
            #loading
                #bar
        #webview
            webview(src="https://www.duckduckgo.com/")
        
        
