html
    head
        link(rel="stylesheet", href="../sass/style.sass")
        
        title Inception
    body
        button home
        button refresh
        button search
        input(type="text")
        
        
